*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
menu[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  color: var(--foreground);
  background: var(--background);
}

ul[class],
ol[class],
menu[class] {
  list-style: none;
  margin: 0;
  padding: 0;
}

img,
svg {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  border: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

address,
em,
i {
  font-style: normal;
}

button {
  all: unset;
  box-sizing: border-box;

  &:focus-visible {
    outline: 1px auto -webkit-focus-ring-color;
  }

  &:not(:disabled) {
    cursor: pointer;
  }
}

a,
button,
label {
  -webkit-tap-highlight-color: transparent;
}

table[class] {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}

summary {
  cursor: pointer;

  &::-webkit-details-marker,
  &::marker {
    display: none;
    content: "";
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
