.wrap {
  display: flex;
  flex-flow: column;
  height: 100vh;
  height: 100dvh;
}

.global-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 2;
  inset: auto 0;
  height: var(--header-height);
  padding: 10px 40px;
  border-bottom: 1px solid hsl(var(--input));
  background: #fff;
}

.global-inner {
  display: flex;
  flex: 1 1 100%;
}

.global-aside {
  display: flex;
  flex-flow: column;
  overflow: auto;
  max-height: calc(100vh - var(--header-height));
  max-height: calc(100dvh - var(--header-height));
  margin: var(--header-height) 0 0;
  padding: 30px;
  flex: 0 0 240px;
  border-right: 1px solid hsl(var(--input));
}

.global-nav {
  font-size: 17px;
}

.global-sub-menu {
  margin: 0 0 0 20px;

  .is-active {
    font-weight: bold;
  }
}

.global-address {
  margin: auto 0 0;
  font-size: 12px;
}

.global-main {
  overflow: auto;
  margin: var(--header-height) 0 0;
  flex: 1 1 100%;
  max-height: calc(100vh - var(--header-height));
  max-height: calc(100dvh - var(--header-height));
  padding: 40px;
  background: hsl(var(--muted));
}

table.search-table {
  table-layout: auto;

  th,
  td {
    padding: 8px 5px;
  }

  th {
    width: 80px;
    text-align: left;
    white-space: nowrap;
  }
}

table.data-table {
  th,
  td {
    padding: 8px 5px;
    text-align: center;
    font-size: 14px;
  }

  th {
    background: hsl(var(--chart-3));
    color: #fff;
  }

  td {
    height: 50px;
    border-bottom: 1px solid hsl(var(--border));
    background: #fff;
  }

  tr:hover {
    td {
      background: hsl(var(--muted));
    }
  }
}
