.wrap {
  display: flex;
  flex-flow: column;
  height: 100vh;
  height: 100dvh;
}

.global-header {
  position: fixed;
  top: 0;
  z-index: 2;
  inset: auto 0;
  height: var(--header-height);
  border-bottom: 1px solid hsl(var(--input));
  background: #fff;
}

.global-inner {
  display: flex;
  flex: 1 1 100%;
}

.global-aside {
  margin: var(--header-height) 0 0;
  flex: 0 0 240px;
  border-right: 1px solid hsl(var(--input));
}

.global-main {
  overflow: auto;
  margin: var(--header-height) 0 0;
  flex: 1 1 100%;
  max-height: calc(100vh - var(--header-height));
  max-height: calc(100dvh - var(--header-height));
  padding: 40px;
  background: hsl(var(--muted));
}

table.search-table {
  table-layout: auto;

  th,
  td {
    padding: 5px;
  }

  th {
    width: 80px;
    text-align: left;
    white-space: nowrap;
  }
}
